.main-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container{
    width: 90%;
    margin: 0px 90px;
    height: 85vh;
    position: relative;
}

.hero-image{
    width:100%;
    height:100%;
}

.hero-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 8vw;
    color: rgb(253, 89, 72);
}

.page-about{
    margin-top: 8vw;
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
}

.page-about h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.875rem;
    line-height: 1.4;
}

.page-about p {
    margin-top: .8em;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}

.page-about a {
    color: blue; 
}

.page-about-collage{
    margin-top: 8em;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 8em 0px;
}

.page-about-collage__background{
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: #fbffa7;
    z-index: -999;
}

.page-about-collage__left{
    flex: 1;
    height: 41vw;
    display: flex;
    justify-content: flex-end
}

.page-about-collage__left__image_container{
    height: 100%;
    width: 80%;
    background-color: black;
}


.page-about-collage__right{
    flex: 1;
    height: 41vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-about-collage__right__image_container{
    height: 65%;
    width: 65%;
    background-color: black;
}

.page-about-video{
    width: 63vh;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
}

.page-about-video-container{
    width: 100%;
    height: 50vh;
    background-color: black;
}

.page-about-video-text{
    margin-top: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: bold;
}

.page-about-collage-two{
    margin-top: 8em;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    padding: 8em 0px;
    align-items: center;
}

.page-about-collage-two__background{
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: #b6ffc0;
    z-index: -999;
}

.page-about-collage-two__left{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-about-collage-two__left_image_one{
    width: 33vw;
    height: 25vw;
    background-color: black;
}

.page-about-collage-two__left_image_two{
    margin-top: 8em;
    width: 33vw;
    height: 25vw;
    background-color: black;
}

.page-about-collage-two__right{
    flex: 1;
    height: 41vw;
    width: 41vw;
    background-color: black;
}

.page-about-poster-image{
    margin-top: 4em;
    margin-bottom: 4em;
    width: auto;
    margin-left: 8vw;
    margin-right:  8vw;
}

.poster-image{
    width: 100%;
    height: auto;
}

.page-about-collage-three{
    margin-top: 16em;
    margin-bottom: 12em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.page-about-collage-three__background{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 66vw;
    height: 58vw;
    background-color: #d5b3ff;
    z-index: -999;
}

.page-about-collage-three__left{
    width: 33vw;
    height: 25vw;
    margin-left: 8vw;
}

.page-about-collage-three__right{
    width: 36vw;
    height: 36vw;
}

.page-about-collage-four{
    margin-top: 8em;
    width: 90%;
    background-color: black;
    display: flex;
}

.page-about-collage-four__left{
    flex: 1;
    height: 41vw;
}
.page-about-collage-four__right{
    flex: 1;
    background-color: #b1c5ff
}

.page-about-collage-four__right__content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8vw;
}

.page-about-collage-four__right__content h1{
    font-size: 1.875rem;
    line-height: 1.4;
    font-family: 'Nunito', sans-serif;
}

.page-about-collage-four__right__content a{
    display: block;
    margin-top: 1em;
    color: blue;
}

.page-about-collage-four__right__content a{
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 5px;
    border: solid blue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .line-break{
    margin-top: 8em;
    width: 100%;
    border-bottom: 2px solid #eee;
}

.footer{
    margin-top: 8em;
    margin-bottom: 4em;
    width: 90%;
}


.footer__foot-row{
    display: flex;
    flex-direction: column;
}


.reverse{
    flex-direction: column-reverse;
}


.footer__foot-row__foot-column{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 1050px) {
    .footer__foot-row {
        margin-bottom: 20px;
        flex-direction: row;
    }
    .footer__foot-row__foot-column:first-child{
        flex: 3;
    }
    .footer__foot-row__foot-column:nth-child(2){
        flex: 3;
    }
    .footer__foot-row__foot-column:nth-child(3){
        flex: 4;
    }

    .footer__foot-row__foot-column{
        /* flex-direction: row; */
    }
}

.footer__foot-row__foot-column a{
    font-size: .85rem;
}

.footer__foot-row__foot-column p{
    font-size: .85em;
    font-weight: bold;
}


.footer__foot-row__foot-row{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__foot-row__foot-column_sign-up{
    margin-top: 1.5em;
    display: flex;
    background-color: pink;
}


.footer__foot-row__foot-column_sign-up input{
    width: 100%;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    background-color: #eee;
    border: none;
}

.footer__foot-row__foot-column_sign-up button{
    white-space: nowrap;
    padding: .6rem 3.5em;
    color: white;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: blue;
    border: none;
}


.footer__foot-row__foot-column a{
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.footer__foot-row__foot-column p{
    margin-top: 5px;
}

.arrow-small {
    margin-left: 3px;
    border: solid grey;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
}

.footer__foot-row__foot-column__social-media{
    margin-top: 1em;
    display: flex;
}
.footer__foot-row__foot-column__social-media__box{
    box-sizing: border-box;
    padding: .5em;
    margin-right: 1em;
    background-color: #3477F2;
}

.footer__foot-row__foot-column__social-media :nth-child(2) {
    background-color: #1DA1F2;
}
.footer__foot-row__foot-column__social-media :nth-child(3) {
    background-color: #FF001D;
}
.footer__foot-row__foot-column__social-media :nth-child(4) {
    background-color: #F77737;
}

.social-media-icon {
    color: #fff;
    font-size: 1.575em;
}

.footer__foot-row__foot-column__select{
    margin-top: 1.1em;
    background-color: transparent;
    display: flex;
}

.select-wrapper{
    margin-right: .3em;
}

select {
    appearance: none;
    border: none;
    background-color: #eee;
    padding: .35em 50px .35em .75em;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    cursor: pointer;
}

.footer__foot-last-row{
    display: flex;
    flex-direction: column;
}

.footer__foot-row__secondary-link{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

.footer__foot-row__secondary-link a{
    margin-bottom: .5em;
    font-size: .775rem;
    line-height: 1.5;
    font-weight: 600;
}

.footer__foot-row__foot-row__logo{
    font-size: 1.575em;
}

span {
    margin-left: 1em;
    font-size: .775rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

#text-style-normal{
    font-weight: normal;
}


@media only screen and (min-width: 1050px) {
    .footer__foot-last-row{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__foot-row__secondary-link{
        flex-direction: row;
    }
    .footer__foot-row__secondary-link a{
        margin-right: .9em;
    }

    .footer__foot-row__foot-row{
        flex-direction: row-reverse;
    }
    span{
        margin-right: 1em;
    }
}